/*****
theme.css
Style Sheet for Heidi Reina's course in Modern Web Design
******/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

a:hover {
  font-weight: bold;
  }

article {
  margin: 0 40px;
  line-height: 1.75em;
  color: #150d0d;
  background: #f9f9f9;
  padding: 2% 10%;
  border-left: #ccc solid 1px;
  border-right: #ccc solid 1px;
  }

article > p {
  padding-bottom: .3em;
  }

aside {
    display: block;
    width: 50%;
    font-size: .9em;
    line-height: 1.5em;
    padding: 12px;
    float: right;
    margin-left: 15px;
    border: solid 2px #9e9c9c;
    background: #e8e7e7;
  }

blockquote {
  background: #eae7e7;
  border-left: 10px solid #ccc;
  margin: 1.5em 10em 1.5em 2em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  overflow: hidden
  }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  }

blockquote p {
  display: inline;
  }

body {
  margin: 0 auto;
  display: block;
  background: #039691; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #039691 1%, #039691 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#63856a), color-stop(100%,#039691)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #63856a 1%,#039691 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63856a', endColorstr='#0396910',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: "Lato", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.3em
  }

figure {
  float: right; 
  margin: 0 10px 15px 15px;
  box-shadow: 0 0 10px #949292;
  }

figcaption {
  font-size: 14px; 
  line-height: 1.1em;
  color: #c97406;
  padding: 1em;
  }

footer {
  margin: 0 40px 10px 40px; 
  padding: 1% 2%;
  background: #c97406;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }

footer p {
  color: #f3f2ec;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .05em;
  }

footer p > a {
  color: #fff;
  }

h1, h2 {
  font-family: "Abril Fatface", Arial, sans-serif;
  font-weight: bold;
  color: #c97406;
  }
  
h1 {
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #ccc;
  width: 90%
  margin: .5em 0 .5em 4em;
  }

h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  position: relative;
  padding-top: 1em;
  margin-bottom: .5em;
  }

header {
  margin: 10px 40px 0px 40px;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 71%, #e1e1e1 92%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 71%,#e1e1e1 92%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 71%,#e1e1e1 92%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 0 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: #ccc solid 1px;
  }
 
.paragraph-list li {
  padding-bottom: .5em;
  }

nav ul {
  display: inline-block;
  width: 90%
  margin-bottom: 0 0 auto;
  }

nav li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  }

nav li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }
  
nav li {
  background: #00d0d2;
  border-right: rgb(197, 190, 180) solid;
  border-right: rgba(197, 190, 180, .5) solid;
  list-style: none;
  padding: 10px;
  float: left;
  }

nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  }

nav li:hover {
  background: #c6a707;
  }






  
