/*****
theme.css
Style Sheet for Heidi Reina's course in Modern Web Design
******/

figure {
  float: right; 
  margin: 0 10px 10px 10px;
  }

figcaption {
  font-size: 11px; 
  margin-top: 5px;
  }

nav {
  display: block;
  }

nav li {
  background: #00d0d2;
  border-right: #fff solid;
  list-style: none;
  padding: 10px;
  float: left;
  }

nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  }

nav li a:hover {
  background: #c6a707;
  }

nav li a:active {
  color: #000;
  background: #fff200;
  }
  
