/*****
theme.css
Style Sheet for Heidi Reina's course in Modern Web Design
******/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

/**********************************************
Animation effect for footnotes
**********************************************/

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

a:hover {
  font-weight: bold;
  }

article {
  display: block;
  max-width: 100%;
  margin: 0;
  line-height: 1.75em;
  color: #150d0d;
  background: #f9f9f9;
  padding: 2% 10%;
  border-left: #ccc solid 1px;
  border-right: #ccc solid 1px;
  }

article > p {
  padding-bottom: .3em;
  }

aside {
    display: block;
    width: 50%;
    font-size: .9em;
    line-height: 1.5em;
    padding: 12px;
    float: right;
    margin-left: 15px;
    border: solid 2px #9e9c9c;
    background: #e8e7e7;
  }

blockquote {
  display: block;
  max-width: 100%;
  background: #eae7e7;
  border-left: 10px solid #ccc;
  margin: 1.5em 10em 1.5em 2em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  overflow: hidden
  }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  }

blockquote p {
  display: inline;
  }

body {
  margin: 0 auto;
  display: block;
  background: #039691; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #039691 1%, #039691 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#63856a), color-stop(100%,#039691)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #63856a 1%,#039691 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #63856a 1%,#039691 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63856a', endColorstr='#0396910',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: "Lato", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.3em
  }

figure {
  float: right; 
  margin: 0 10px 15px 15px;
  box-shadow: 0 0 10px #949292;
  }

figcaption {
  font-size: 14px; 
  line-height: 1.1em;
  color: #c97406;
  padding: 1em;
  }

footer {
  display: block;
  max-width: 100%;
  margin; 0;
  padding: 1% 2%;
  background: #c97406;
  }

footer p {
  color: #f3f2ec;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .05em;
  }

footer p > a {
  color: #fff;
  }

h1, h2, h3 {
  font-family: "Abril Fatface", Arial, sans-serif;
  font-weight: bold;
  color: #c97406;
  }
  
h1 {
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #ccc;
  max-width: 100%;
  margin:  1em 0;
  text-align: center;
  }

h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  position: relative;
  padding-top: 1em;
  margin-bottom: .5em;
  }

.pblvideo h3 {
  font-size: 1.25em;
  letter-spacing: 1px;
  display: block;
  width: 560px;
  padding-top: 1em;
  padding-bottom: .5em;
  margin: 0 auto;
  }

header {
  display: block;
  max-width: 100%;
  height: 165px;
  margin: 0;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 71%, #e1e1e1 92%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 71%,#e1e1e1 92%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 71%,#e1e1e1 92%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 0 2%;
  border: #ccc solid 1px;
  }

iframe {
    display: block;
    margin: 0 auto;
    width: 560px;
    max-width: 100%
  }

img {
  max-width: 100%;
  border-bottom: #7f7f7f solid 2px;
  }

 main {
    display: block;
    max-width: 1172px;
    margin: 10px auto;
  }

.paragraph-list li {
  padding-right: 1.3em;
  padding-bottom: .5em;
  }

nav ul {
  display: block;
  width: 52em;
  text-align: center;
  margin: 0 auto;
  }
  
nav li {
  display: inline-block;
  background: #00d0d2;
  border-right: rgb(197, 190, 180) solid;
  border-right: rgba(197, 190, 180, .5) solid;
  list-style: none;
  padding: 10px;
  float: left;
  }

nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  }

nav li:hover {
  background: #c6a707;
  }

span.footnote {
    background:#fcfcf9;;
    border: 2px solid brown;
    border-radius: 0 10px 0 10px;
    color: brown;
    font-size: inherit;
    height: auto;
    line-height: 30px;
    position: relative;
    text-align: center;
    display: none;
    top: -50px;
    left: 20px;
    padding:0 20px; 
    max-width: 75%;
}

sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: bold;
    color: blue;
}

sup:hover + span.footnote {
    display: block;
    animation: fadeInRight 1.5s 1;
    -webkit-animation: fadeInRight 1.5s 1;
    -moz-animation: fadeInRight 1.5s 1;
    -o-animation: fadeInRight 1.5s 1;
    }

/*****************************************************
Modifications for mobile layouts
*************************************************** */

@media only screen and (min-width: 320px) and (max-width: 767px) {

  article {
    font-size: 16px;
    line-height: 1.625em;
    padding: 2% 4%;
    }
  
  article > h2 {
    font-size: 1.25em;
    letter-spacing: 1px;
  }
  
  aside {
    float: none;
    width: 100%;
    max-width: 90%;
    margin-left: 0;
    margin: 1em auto;
  }
  
  blockquote {
    margin: 1em .3em 1.25em 1em;
  }
  
  body { 
    font-size: 16px;
    line-height: 1.25em;
  }
  
  figure {
    float: none;
    max-width: 100%;
    margin: 0 auto;
  }
  
  header {
    height: 320px;
    padding: 0;
  }
  
   header > h1 {
    font-size: 1.375em;
    letter-spacing: .75px;
  }

  
  img {
    width: 100%;
  }
      
  
  main {
    display: block;
    max-width: 100%;
    margin: 10px auto;
  }
  
  nav li {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    border-bottom: #7f7f7f dashed 1px;
  }
  
  
   nav ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    font-size: .9em;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
  }
}

/*****************************************************
Modifications for tablet layouts
*************************************************** */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  article > h2 {
    font-size: 1.25em;
    letter-spacing: 1px;
  }
  
  main {
    display: block;
    max-width: 768px;
    margin: 10px auto;
  }
  
  header > h1 {
    font-size: 2em;
    letter-spacing: 1.25px;
    margin: 0 auto;
    padding: 1em 0;
  }

  nav ul {
    display: block;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    width: 55em;
    text-align: center;
  }
  
  .pblvideo h3 {
  font-size: 1.375em;
  letter-spacing: .9px;
  display: block;
  max-width: 100%;
  padding-top: 1em;
  padding-bottom: .5em;
  margin: 0 auto;
  }
}

/*****************************************************
Modifications for large screen layouts
*************************************************** */

@media only screen and (min-width : 1824px)  {

  main {
    display: block;
    max-width: 1200px;
    margin: 10px auto;
  }

}

  
